bin/*
!bin/Makefile
*.o
*.workspace
*.DSN
*.dsn
*.pwi
*.PWI
*.pdsprj
*.pdsbak
*.ptn
*.a
*.dll
*.lib
*.tmp
*.so*
*.unc*
*.sh
*.pbi
*.cout
*sublime*
*.html
*.htm
*.doc
*.asm
*.bin
*.txt
*.log
core
*.rom
*.bin
*.symbols
*.pdb
*.txt
